body {
    background-color: #004d1a;
    
}

#window {
    top:0;
    left:0;
    
}

#board {
    min-height: 600px; 
    min-width: 850px;
}

#playingArea {
    margin:auto;
    max-width: 1200px;
}

#dealerHand, #myHand {
    display: inline;
}

#footer {
    min-height: 100px;
    min-width: 1000px;
}
#user {
    margin:auto;
    max-width: 1200px;
    
}

#user_info {
    min-width: 250px;
    max-width: 300px;
    display: inline;
}
#user_info input {
    width: auto;

}

#user_action {
    min-width: 500px;
    max-width: 600px;
    display: inline;
    
}

#user_bet {
    min-width: 250px;
    max-width: 300px;
    display: inline;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.overlay_info {
    color: yellow;
    text-align: center;
    font-size: 60px;
    
}
